body{
    background-image: url("Confession Page.jpg");
    background-size: cover;
}
h1{
    font-size: 50px;
    background-color: white;
    width: 500px;
}
.button{
    margin-left: 45%;
    background-color: purple;
    color: black;
    font-size: 25px;
}
#story
{
    height:400px;
    font-size:14pt;
}