form{
    margin-top:80px;
}
body{
    background-image: url("volunteer.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.b1{
        width: 100%;
        background-color: ;
        color: white;
        padding: 12px 20px;
        display:inline-block;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        font-family:Lucida Handwriting;
        font-size:30px;
        color:black;
}
h1{
    width: 100%;
    background-color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family:Lucida Handwriting;
    font-family:Lucida Handwriting;
    font-size:30px;
    color:black;
}
/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }